<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Museum App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <h1>Choose your department</h1>
    
    {% for key, value in departments.items %}
        
    <form action="" method="POST">
        {% csrf_token %}
        <button name="depname" type="Submit" value="{{ key }}"> {{ value }} </button>
        <br>
    </form>
    {% endfor %}
    
    
    
</body>

</html>